# Default ignored files
/../../Skin Consultation Centre./.idea/shelf/
/../../Skin Consultation Centre./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Skin Consultation Centre./.idea/httpRequests/
# Datasource local storage ignored files
/../../Skin Consultation Centre./.idea/dataSources/
/../../Skin Consultation Centre./.idea/dataSources.local.xml
